.container {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.container_logo {
  height: 10rem;
  background-color: black;
  border-radius: 5rem;
}

.container_list {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2rem;
  color: whitesmoke;
}
.container_carrito {
  color: white;
  margin-top: 3rem;
  margin-right: 1rem;
}
.carrito {
  color: white;
}
.MuiBadge-root.css-1c32n2y-MuiBadge-root {
  margin: 4rem;
}
.links {
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiCardMedia-root.css-1gikaep-MuiCardMedia-root {
  display: flex;
  height: 20rem;
  width: 20rem;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-hkdbh3-MuiPaper-root-MuiCard-root {
  width: 20rem;
}
